

.container {

    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 0 1.5rem;
    box-shadow: rgb(24, 47, 199) 0px 4px 12px;
    border-radius: 1.3rem;
}

.card {
    background-color: #0e1c36;
    display: block;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 1.5rem 1.5rem 0 1.5rem;


    h1 {
        font-size: 1rem;
        text-transform: uppercase;
    }
}

.container:hover {
    transition: 0.3s;
    transform: scale(1.02);
}

.container:last-child {

}

.container:last-child img {
    max-width: 100%;
    height: auto;
}



.image {

}

.card-name {
    margin: 1rem 0;
}

.card-job {

}

.social-icons {
    display: flex;
    padding: 0;
    list-style: none;
    justify-content: space-between;
}

svg:hover {
    color: #40f99b!important;
    transform: scale(1.1);
}

.social-icons div {
    padding: 0 0.5rem;
    font-size: 1.5rem;
}

